target
.idea
*.iml
# Docker files in root are generated
/Dockerfile
/Dockerfile.build
/docker-compose.yml
.classpath
.project
.settings
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/vars/dev.tfvars
**/terraform.tfvars
*.dylib
/src/asciidoc/index.html
